.campaigns-photos__filter-input {
  color: #354052;
  font-size: 0.875rem;
  border: 1px solid #d0d6de;
  border-radius: 4px;
  width: 10.625rem;
  padding: 0.5rem 0.75rem 0.5rem 3rem ;
  outline: none;
}

.campaigns-photos__filter-input::placeholder {
  color: #b0b0b1;
  font-size: 0.875rem;
  font-weight: 600;
}

.campaigns-photos__filter-input-icon {
  position: absolute;
  color: #a8aab7;
  font-family:'IcoMoon', sans-serif;
  left: 1rem;
  top: 0;
  bottom: 0;
}

.campaigns-photos__filter-input-icon::before {
  content: '\e90f';
}
